.search-btn {
    transition: 0.2s ease;
}

.search-btn:hover {
    transform: translateY(-2px);
}

.search-btn:active {
    transform: translateY(1px);
}

.filters {
    /* padding-right: 25px; */
    position: sticky;
    top: 20px;
}